body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #1c60ed;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    text-decoration: underline;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    background: #f4f6ff;
}

.hero-text {
    width: 50%;
}

.hero-text h2 {
    font-size: 36px;
}

.hero-text p {
    margin: 15px 0;
    font-size: 18px;
}

.hero-text button {
    padding: 10px 20px;
    background: #1c60ed;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hero-image img {
    width: 400px;
}

button {
    padding: 10px;
    background: #1c60ed;
    color: white;
    border: none;
    cursor: pointer;
}
.footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}